*{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.first{
    width: 60%;
}

.second{
    width: 40%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.margin-none{
    margin: 0%;
}

nav{
    background-color: #5a7fb5;
    height: 10vh;
}

#navbar ul{
    padding: 0;
}

#navbar ul li{
    text-align: center;
    width: 80px;
    height: 10vh;
    font-size: 15px;
    margin-left: 15px;
}

#navbar ul li img{
    height: 40px;
    width: 40px;
    margin: auto;
}

.button-nav{
    cursor: pointer;
}

.buscador{
    margin: auto 5px;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

input[type=text]{
    padding-left: 5px;
    height: 30px;
    width: 40%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #072146;
}

input[type=button]{
    margin: 0;
    padding: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #072146;
    height: 34px;
}

.counter{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    left: 17%;
    border-radius: 50px;
    background-color: red;
    color: beige;
}

.counter strong{
    text-align: center;
    font-size: 10px;
}

.active{
    background-color: #072146;
}

@media(max-width:1024px){
    .counter{
        left: 25%
    }
}