<nav id="navbar" class="flex-row">
    <div class="first">
        <ul class="flex-row margin-none">
            <li class="flex-column">
                <img src="../../../assets/iconos/bbva-2.svg"alt="">
                <strong>Banck Inc</strong>
            </li>
            <li class="flex-column button-nav" routerLink="home" routerLinkActive="active">
                <img src="../../../assets/iconos/Real_Estate_(101).jpg" alt="">
                <strong>Home</strong>
            </li>
            <li class="flex-column button-nav" routerLink="shopping-cart" routerLinkActive="active">
                <img src="../../../assets/iconos/basket-01_generated.jpg" alt="">
                <strong>Shopping</strong>
                <div class="counter">
                    <strong>0</strong>
                </div>
            </li>
        </ul>
    </div>
    <div class="second">
        <div class="buscador">
            <input type="text">
            <input type="button" value="Search" class="button">
        </div>
    </div>
</nav>