*{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.first{
    width: 60%;
}

.second{
    width: 40%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.margin-none{
    margin: 0%;
}

#navbar{
    background-color: #5a7fb5;
    height: 10vh;
    width: 100%;
}

#navbar ul{
    padding: 0;
}

#navbar ul li, .home-button{
    text-align: center;
    width: 80px;
    height: 10vh;
    font-size: 15px;
    margin-left: 15px;
}

#navbar ul li img, .home-button>img{
    height: 40px;
    width: 40px;
    margin: auto;
}

.button-nav{
    cursor: pointer;
    position: relative;
}

.buscador{
    margin: auto 5px;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.counter{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 58%;
    left: 67%;
    border-radius: 50px;
    background-color: red;
    color: beige;
}

.counter strong{
    text-align: center;
    font-size: 10px;
}

.active{
    background-color: #076dfc;
}

@media(max-width:1024px){
    .counter{
        left: 25%
    }
}