<nav id="navbar" class="flex-row">
    <div class="flex-column button-nav first">
        <div class="home-button" routerLink="home" routerLinkActive="active">
            <img src="../../../assets/iconos/bbva-2.svg"alt="">
            <strong>Banck Inc</strong>
        </div>
    </div>
    <div class="second">
        <ul class="flex-row margin-none">
            <li class="flex-column button-nav" routerLink="products" routerLinkActive="active">
                <img src="../../../assets/iconos/products.png" alt="">
                <strong>Products</strong>
            </li>
            <li class="flex-column button-nav" routerLink="shopping-cart" routerLinkActive="active">
                <img src="../../../assets/iconos/carrito-de-compras.png" alt="">
                <strong>Cart</strong>
                <div class="counter">
                    <strong>{{this.number}}</strong>
                </div>
            </li>
        </ul>
    </div>
</nav>