<section class="home">
    <article id="slider">
            <img src="../../../assets/slider/flecha-correcta.png" alt="" class="arrow right">
            <img src="../../../assets/slider/flecha-izquierda.png" alt="" class="arrow left">
        <div class="slide">
            <img class="image-slider" src="../../../assets/slider/prueba.jpg" alt="">
            <div class="info">
                <h2>Title</h2>
                <h3>Price</h3>
            </div>
        </div>
        <div class="slide">
            <img class="image-slider" src="../../../assets/slider/prueba.jpg" alt="">
            <div class="info">
                <h2>Title</h2>
                <h3>Price</h3>
            </div>
        </div>
        <div class="slide">
            <img class="image-slider" src="../../../assets/slider/prueba.jpg" alt="">
            <div class="info">
                <h2>Title</h2>
                <h3>Price</h3>
            </div>
        </div>
    </article>
    <div id="category">
        <ul>
            <li>
                <strong>Prueba</strong>
            </li>
        </ul>
    </div>
</section>